{% extends "layout.html" %}
{% block body %}
<div class="container text-center justify-content-sm-center">
	<fieldset class="form-group">
		<h1 class="display-4 my-4"> EGR Cooler Market Value Predictor </h1>
		<form action="/predict" method="post">
		<div class="form-row form-group" class= "form-inline">
			<div class="col form-control">
				{{ form.num_tubes.label }} {{ form.num_tubes }}
			</div>
			<div class="col">
				{{ form.tube_type.label }}{{ form.tube_type}}
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col form-control">
				{{ form.length.label }} {{ form.length }}
			</div>
			<div class="col form-control">
				{{ form.width.label }} {{ form.width }}
			</div>
			<div class="col form-control">
				{{ form.height.label }} {{ form.height }}
			</div>
			<div class = "col form-control">
				{{ form.mass.label }} {{ form.mass }}
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col">
				{{ form.bypass_valve.label }} {{ form.bypass_valve}}
			</div>
			<div class = "col form-control">
				{{ form.num_brackets.label }} {{ form.num_brackets }}
			</div>
			<div class = "col">
				{{ form.spigot_type.label }} {{ form.spigot_type }}
			</div>
			<div class = "col form-control">
				{{ form.num_gasboxes.label }} {{ form.num_gasboxes }}
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col form-control">
				{{ form.peak_volume.label }} {{ form.peak_volume }}
			</div>
			<div class="col form-control">
				{{ form.lifetime_volume.label }} {{ form.lifetime_volume }}
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col">
				{{ form.customer.label }} {{ form.customer }}
			</div>
			<div class="col">
				{{ form.car_type.label }} {{ form.car_type }}
			</div>
			<div class="col">
				{{ form.region.label }} {{ form.region }}
			</div>
			<div class="col form-control">
				{{ form.sop_year.label }} {{ form.sop_year }}
			</div>
		</div>
		{% if field.errors %}
			<ul class=errors>
				{% for error in field.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<button type="submit" class="btn btn-primary"> Predict Market Value </button>
		</form>
	</fieldset>
</div>
{% block results %}{% endblock %}
{% endblock %}