{% extends "layout.html" %}
{% block body %}
<div class="container px-0 text-center">
	<fieldset class="form-group">
		<h2 class="my-4"><small class="text-muted"> EGR Cooler Market Value Predictor </small> </h2>
		<form action="/predict" method="post">
		<div class="form-row my-0 py-0 form-group text-dark">
			<div class="col">
				{{ form.num_tubes.label }}
				{{ form.num_tubes(class="form-control") }}
			</div>
			<div class="col">
				{{ form.tube_type.label }}
				{{ form.tube_type(class="form-control") }}
			</div>
			<div class="col">
				{{ form.customer.label }}
				{{ form.customer(class="form-control") }}
			</div>
			<div class="col">
				{{ form.car_type.label }}
				{{ form.car_type(class="form-control") }}
			</div>
			<div class="col">
				{{ form.peak_volume.label }}
				{{ form.peak_volume(class="form-control") }}
			</div>
			<div class="col">
				{{ form.lifetime_volume.label }}
				{{ form.lifetime_volume(class="form-control") }}
			</div>
			<div class="col">
				{{ form.region.label }}
				{{ form.region(class="form-control") }}
			</div>
			<div class="col">
				{{ form.sop_year.label }}
				{{ form.sop_year(class="form-control") }}
			</div>
		</div>
		<div class="form-row form-group mt-2">
			<div class="col">
				{{ form.length.label }}
				{{ form.length(class="form-control") }}
			</div>
			<div class="col">
				{{ form.width.label }}
				{{ form.width(class="form-control") }}
			</div>
			<div class="col">
				{{ form.height.label }}
				{{ form.height(class="form-control") }}
			</div>
			<div class="col">
				{{ form.mass.label }}
				{{ form.mass(class="form-control") }}
			</div>
			<div class="col">
				{{ form.bypass_valve.label }}
				{{ form.bypass_valve(class="form-control")}}
			</div>
			<div class="col">
				{{ form.num_brackets.label }}
				{{ form.num_brackets(class="form-control") }}
			</div>
			<div class="col">
				{{ form.spigot_type.label }}
				{{ form.spigot_type(class="form-control") }}
			</div>
			<div class="col">
				{{ form.num_gasboxes.label }}
				{{ form.num_gasboxes(class="form-control") }}
			</div>
		</div>
		<button type="submit" class="btn btn-primary"> Predict Market Value </button>
		</form>
	</fieldset>
</div>
{% block results %}{% endblock %}
{% endblock %}