{% extends "layout.html" %}
{% block body %}
<div class="container text-center justify-content-sm-center">
	<div class="mt-5 mb-2">
		<a href= "{{ url_for('model') }}">
			<button type="button" class="btn btn-primary btn-lg btn-block">Use Model</button>
		</a>
	</div>
	<div class="my-2">
		<a href= "{{ url_for('add') }}">
			<button type="button" class="btn btn-primary btn-lg btn-block">Add Historical Cooler</button>
		</a>
	</div>
	<div class="my-2">
		<a href= "{{ url_for('remove') }}">
			<button type="button" class="btn btn-primary btn-lg btn-block">Remove Historical Cooler</button>
		</a>
	</div>
	<div class="my-2">
		<a href= "{{ url_for('update') }}">
			<button type="button" class="btn btn-primary btn-lg btn-block">Update Data and Model</button>
		</a>
	</div>
	{% block updated %}{% endblock %}
	<div class="my-5">
		<a href="/test/index">
			<button type="button" class="btn btn-secondary btn-lg btn-block">Test Model</button>
		</a>
	</div>	
</div>

{% endblock %}