{% extends "layout.html" %}
{% block body %}
<div class="container text-center justify-content-sm-center">
	<fieldset class="form-group">
		<h1 class="display-4 my-4"> EGR Cooler Market Value Predictor </h1>
		<form action="/predict" method="post">
		<div class="form-row form-group" class= "form-inline">
			<div class="col">
				<input id="num_tubes" class="form-control" name="num_tubes" placeholder="{{program.num_tubes}}" type="text">
			</div>
			<div class="col">
				<select id="tube_type" class="form-control" name="tube_type">
					<option value=""> Type of Tube </option>
					<option> Corrugate </option>
					<option> Hybrid </option>
				</select>
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col">
				<input id="length" class="form-control" name="length" placeholder="{{program.length}}" type="text">
			</div>
			<div class="col">
				<input id="width" class="form-control" name="width" placeholder="{{program.width}}" type="text">
			</div>
			<div class="col">
				<input id="height" class="form-control" name="height" placeholder="{{program.height}}" type="text">
			</div>
			<div class = "col">
				<input id="mass" class="form-control" name="mass" placeholder="{{program.mass}}" type="text">
			</div>
			<div class="col">
				<select id="bypass_valve" class="form-control" name="bypass_valve">
					<option value=""> Bypass Valve </option>
					<option> Yes </option>
					<option> No </option>
				</select>
			</div>
			<div class = "col">
				<input id="num_brackets" class="form-control" name="num_brackets" placeholder="{{program.num_brackets}}" type="text">
			</div>
			<div class = "col">
				<select id="spigot_type" class="form-control" name="spigot_type">
					<option value=""> Spigot Type </option>
					<option> Straight </option>
					<option> Bend </option>
				</select>
			</div>
			<div class = "col">
				<input id="num_gasboxes" class="form-control" name="num_gasboxes" placeholder="{{program.num_gasboxes}}" type="text">
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col">
				<input id="peak_volume" class="form-control" name="peak_volume" placeholder="{{program.peak_volume}}" type="text">
			</div>
			<div class="col">
				<input id="lifetime_volume" class="form-control" name="lifetime_volume" placeholder="{{program.lifetime_volume}}" type="text">
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col">
				<select id="customer" class="form-control" name="customer">
					<option value=""> Customer </option>
					<option> Ford </option>
					<option> Nissan </option>
				</select>
			</div>
			<div class="col">
				<select id="car_type" class="form-control" name="car_type">
					<option value=""> Car Type </option>
					<option> Passenger </option>
					<option> Commercial </option>
				</select>
			</div>
			<div class="col">
				<select id="region" class="form-control" name="region">
					<option value=""> Region </option>
					<option> EU </option>
					<option> North America </option>
					<option> South America </option>
					<option> Asia </option>
				</select>
			</div>
			<div class="col">
				<input id="sop_year" class="form-control" name="year" placeholder="{{program.sop_year}}" type="text">
			</div>
		</div>
		<button type="submit" class="btn btn-primary"> Predict Market Value </button>
		</form>
	</fieldset>
</div>
{% block results %}{% endblock %}
{% endblock %}