{% extends "layout.html" %}
{% block body %}
	<fieldset>
		<legend> Choose the attributes you have </legend>
		<form action="/create" method="post">
		<div>
			<input id="num_tubes" name="features" value="num_tubes" type="checkbox">
			<label for="num_tubes"> Number of Tubes </label>
		</div>
		<div>
			<input id="length" name="features" value="length" type="checkbox">
			<label for="length"> Length of Tubes </label>
		</div>
		<div>
			<button type="submit"> Create Model </button>
		</div>
		<form>
	</fieldset>
	
{% endblock %}