{% extends "test.html" %}
{% block run %}
<div class="col-10 mx-auto">
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col"> Model </th>
			<th scope="col"> Error </th>
			{% for price in test_y %}
			<th scope="col"> ${{ "%.2f" | format(price) }} </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for m, p, acc, values in results %}
		<tr>
			<th scope="row"> {{ m }}{% if p != None %}, {{ p }} {% endif %}
			</th>
			<td> ${{ "%.2f" | format(acc) }} </td>
			{% for value in values %}
			<td {% if (value | abs) <= 2 %} class="table-success"
				{% elif (value | abs) >= 5 %} class="table-danger"
				{% endif %}>
				{% if value > 0 %}+{% else %}-{% endif %}${{ "%.2f" | format(value|abs) }}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
 
{% endblock %}