{% extends "test.html" %}
{% block run %}
<div class="col-10 mx-auto">
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col"> Model </th>
			{% for key in metrics.keys() %}
				<th scope="col"> {{ metrics[key] }} </th>
			{% endfor %}
		</tr>
	</thead>
	
	<tbody>
		{% for m, p, comps in results %}
		<tr>
			<th scope="row"> {{ m }} {% if p != "" %}, {{ p }} {% endif %}</th>
			{% for key in metrics.keys() %}
				<td>
					{% if key == "mean-absolute-error" or key == "median-absolute-error" %}${% endif %}
					{{ "%.2f" | format( comps[key] ) }}
					{% if key == "mean-percent-error" %}%{% endif %}
				</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
</div> 
{% endblock %}