{% extends "layout.html" %}
{% block body %}
<div class="container text-center justify-content-sm-center">
	<fieldset class="form-group">
		<h1 class="display-4 my-4"> EGR Cooler Market Value Predictor </h1>
		<form action="/predict" method="post">
		<div class="form-row form-group" class= "form-inline">
			<div class="col">
				<input id="num_tubes" class="form-control" name="num_tubes" placeholder="Number of Tubes" type="text">
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col">
				<input id="length" class="form-control" name="length" placeholder="Length (mm)" type="text">
			</div>
			<div class="col">
				<input id="width" class="form-control" name="width" placeholder="Width (mm)" type="text">
			</div>
			<div class="col">
				<input id="height" class="form-control" name="height" placeholder="Height (mm)" type="text">
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col">
				<input id="peak-volume" class="form-control" name="peak-volume" placeholder="Peak Volume" type="text">
			</div>
			<div class="col">
				<input id="lifetime-volume" class="form-control" name="lifetime-volume" placeholder="Lifetime Volume" type="text">
			</div>
		</div>
		<div class="form-row form-group" class="form-inline">
			<div class="col">
				<select id="customer" class="form-control" name="customer">
					<option> Customer </option>
					<option> Ford </option>
					<option> Nissan </option>
				</select>
			</div>
			<div class="col">
				<input id="year" class="form-control" name="year" placeholder="Current Year" type="text">
			</div>
		</div>
		<button type="submit" class="btn btn-primary"> Predict Market Value </button>
		</form>
	</fieldset>
</div>
{% block results %}{% endblock %}
{% endblock %}